<div class='footer'>
  <div class='footer-contents'>
      <ul>
        <li>会社概要</li>
        <li>利用規約</li> 
        <li>お問い合わせ</li>
        <li>プライバシーポリシー</li>
      </ul>
  </div>
  <p>© Do Re: Me</p>
</div>