html {
  height: 100%;
}

body {
  height: 100%;
}

#wrap-all {
  position: relative;
  min-height: 100vh;
  padding-bottom: 10vh;
  box-sizing: border-box;
  background-color: white;
  background-image: url(/assets/background1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

/* .background1-img {
  background-color: #282b27;
   background-image: url(/assets/background1.jpg);
   background-size: cover;
   background-attachment: fixed;
   background-position: center center;
} */

.main-content {
 display: flex;
 position: relative;
}

.main-left {
 flex-grow: 4;
}

.main-left-title {
  color: white;
  margin: 10px 70px;
  border-radius: 10px;
  background-color: black;
  font-size: 40px;
  text-align: center;
}

.posts-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.posted-item {
  height: 45vh;
  width: 38vh;
  text-align: center;
  justify-content: center;

}

.pose-img-content {
  background-color: whitesmoke;
  border-radius: 10px;

}

.pose__img {
  height: 28vh;
  width: 28vh;
  border-radius: 10px;
}

.pose-detail {
  border-radius: 10px;
  background-color: black;
  color: white;
}

.posted-pose-title {
  font-size: 3vh;
  font-weight: bolder;
  text-align: center;
}

.posted-pose-detail {
  font-size: 2vh;
}

.main-right {
  flex-grow: 1;
  border-radius: 10px;
  background-color: white;
  height: 70vh;
  margin: 10px;
  text-align: center;
}

.main-right-title {
 color: black;
 font-size: 40px;
 text-align: center;
 margin-top: 20px;
 padding-bottom: 30px;
}


footer {
  margin-top: auto;
}
