.main-content{
 display: flex;
}

.main-left{
 flex-grow: 4;
}

.main-left-title{
  color: white;
  margin: 10px 70px;
  border-radius: 10px;
  background-color: black;
  font-size: 40px;
  text-align: center;
}

.posts-wrapper{
  display: grid;
  gap: 20px;
  grid-template-columns:  1fr 1fr;
  margin-top: 10px;
  margin-bottom: 20px;
}

.posted-item{
  height: 45vh;
  width: 38vh;
  text-align: center;

}

.pose-img-content{

}

.pose__img{
  height: 28vh;
  width: 28vh;
  border-radius: 10px;
}

.posted-pose-title{
  font-size: 3vh;
  font-weight: bolder;
  text-align: center;
}

.posted-pose-detail{
  font-size: 2vh;
}
.main-right{
  flex-grow: 1;
  border-radius: 10px;
  background-color: white;
  height: 60vh;
  margin: 10px;
  text-align: center;
}

.main-right-title{
 color: black;
 font-size: 40px;
 text-align: center;
 margin-top: 20px;
 padding-bottom: 30px;
}
