html {
  height: 100%;
}

body {
  height: 100%;
}

#wrap-all {
  position: relative;
  min-height: 100vh;
  padding-bottom: 10vh;
  box-sizing: border-box;
  background-color: white;
  background-image: image-url('background1.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.main-content {
 display: flex;
 position: relative;
}

.main-left {
 width: 75vw;
}

.main-left-title {
  color: white;
  margin: 10px 70px;
  border-radius: 10px;
  background-color: black;
  font-size: 40px;
  text-align: center;
}

.posts-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 2vh;
  padding-bottom: 10vh;
}

.posted-item {
  height: 45vh;
  width: 38vh;
  padding: 1vw;
  text-align: center;
  justify-content: center;
}

.pose-img-content {
  background-color: whitesmoke;
  border-radius: 10px;
}

.pose__img {
  height: 28vh;
  width: 28vh;
  border-radius: 10px;
}

.pose-detail {
  border-radius: 10px;
  background-color: black;
  color: white;
  margin-bottom: 2vh;
}

.posted-pose-title {
  border-bottom: solid 1px gray;
  font-size: 2vh;
  font-weight: bolder;
  text-align: center;
}

.posted-pose-detail {
  font-size: 2vh;
}

.fa-heart:before, {
  color: white;
}


.index-pagination{
  text-align: center;
  margin:0 auto;
}

.pagination>li {
  display: inline-block; 
}

.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: white;   /*文字の色を変える*/
  background-color: black;
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #bbc2c9;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
  background-color: #535658;
  color: white;
}

.main-right {
  width: 25vw;
  border-radius: 10px;
  background-color: white;
  height: 70vh;
  margin: 10px;
  text-align: center;
}

.main-right-title {
 color: black;
 font-size: 40px;
 text-align: center;
 margin-top: 20px;
 padding-bottom: 30px;
}


footer {
  margin-top: auto;
}
