#new-post-wrapper {
  position: relative;
  min-height: 100vh;
  padding-bottom: 10vh;
  box-sizing: border-box;
}

.registration-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  color: white;
}

.header-left {
  font-size: 50px;
}

.header-right {
  color: white;
  display: flex;
}

.back-to-top { 
  color: white;
  margin-left: 20px;
  padding: 8px;
  text-decoration: none;
  border: solid 2px white;
  border-radius: 10px;
}

.main {
  display: flex;
  min-height: 80vh;
  justify-content: center;
  align-items: center;
}

.page-heading {
  font-size: 30px;
  text-align: center;
  margin: 10px;
  font-weight: bold;
}


.field {
  text-align: center;
  margin: 5px;
}

.new-post-image-field {
  display: block;
  text-align: center;
  margin: 5px;
}

.image_input_btn {
  display: block;
  background-color: black;
  width: 180px;
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
  padding-top: 2px;
  color: white;
  text-decoration: none;
  text-align: center;
}

.new-post-image-field img {
  max-height: 200px;
  max-width: 200px;
}

.default-image-form {
  display: none;
}

.actions {
  text-align: center;
  margin: 10px;
}



footer {
  margin-top: auto;
}

.field_with_errors{
  display: contents;
}