#search-all-wrapper{
  position: relative;
  min-height: 100vh;
  padding-bottom: 10vh;
  box-sizing: border-box;
}

.search-result-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  color: white;
}

.search-result-main{

}

.search-result-title{
  display: block;
  color: white;
  margin: 15px 70px;
  height: 10vh;
  border-radius: 10px;
  background-color: black;
  font-size: 40px;
  text-align: center;
}

.search-result-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  }

.found-item-title{
    font-size: 3vh;
    font-weight: bolder;
    text-align: center;
  }

  .found-item-detail{
    font-size: 2vh;
  }

.found-item{
  height: 45vh;
  width: 38vh;
  text-align: center;
  justify-content: center;
}

.search-item-img{
  height: 28vh;
  width: 28vh;
  border-radius: 10px;
}
  
.found-item-detail{
  border-radius: 10px;
  background-color: black;
  color: white;
  text-align: center;
  justify-content: center;
}

.sorry-message{
  color: red;
  font-size: 20px;
  text-align: center;
  padding-top: 50px;
}