html {
  height: 100%;
}

body {
  height: 100%;
}

#wrap-all {
  position: relative;
  min-height: 100vh;
  padding-bottom: 10vh;
  box-sizing: border-box;
  background-color: white;
  background-image: image-url('background1.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.registration-page-header {
  width: 100vw;
  height: 15vh;
  padding: 2vh 15vw;
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  color: white;
}

.header-left {
  font-size: 50px;
}

.header-right {
  color: white;
  align-items: center;
  display: flex;
}

.back-to-top,
.user-nav-c { 
  color: white;
  justify-content: space-between;
  margin-left: 20px;
  padding: 8px;
  text-decoration: none;
  border: solid 2px white;
  border-radius: 10px;
}

.main-contents {
  display: block;
  position: relative;
}

.room-title {
  display: block;
  color: white;
  margin: 15px 70px;
  height: 10vh;
  border-radius: 10px;
  background-color: black;
  font-size: 40px;
  text-align: center;
}


.pose-record {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 4vh;
}

.my-posted-item {
  height: 50vh;
  width: 38vh;
  padding: 1vw;
  text-align: center;
  justify-content: center;

}

.my-record-img-content {
  background-color: whitesmoke;
  border-radius: 10px;

}

.record-item-img {
  height: 28vh;
  width: 28vh;
  border-radius: 10px;
  margin-bottom: 2vh;
}

#my-record-title {
  border-bottom: solid 1px gray;
  font-weight: bolder;
  text-align: center;
}

.my-record-detail {
  font-size: 2vh;
  position: relative;
  border-radius: 10px;
  background-color: black;
  color: white;
}
.more {
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 10px;
  z-index: 2;
  height: 100px;
  width: 80px;
  text-align: right;
  color: #000000;
}

.more:hover ul.more_list {
  display: block
} 

.more ul.more_list { 
  position: absolute; 
  text-align: left;
  width: 80px;
  right: 0;
  font-size: 12px;
  background-color: #fff;
  border: 1px solid #ddd;
  display: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
  border-radius: 3px;
}

.more ul.more_list li {
  border-bottom: 1px solid #ddd;
}


.more ul.more_list li a {
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 5px;
}

.more ul.more_list li a:hover {
  background-color: #c73c41;
  color: white;
  text-align: center;
  text-decoration: none;
}

.my-record-title{
  font-size: 3vh;
  font-weight: bolder;
  text-align: center;
}

.my-record-detail{
  font-size: 2vh;
}

.show-pagination{
  text-align: center;
  margin:0 auto;
}

.pagination>li {
  display: inline-block; 
}

.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: white;   /*文字の色を変える*/
  background-color: black;
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #bbc2c9;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
  background-color: #535658;
  color: white;
}


footer{
  margin-top: auto;
}
