* {
  box-sizing: border-box;
}

#login-all-wrapper {
  position: relative;
  min-height: 100vh;
  padding-bottom: 10vh;
  box-sizing: border-box;
}

.login-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  color: white;
}

.header-left {
  font-size: 50px;
}

.header-right {
  color: white;
  display: flex;
}

.back-to-top { 
  color: white;
  margin-left: 20px;
  padding: 8px;
  text-decoration: none;
  border: solid 2px white;
  border-radius: 10px;
}

.login-main {
  display: flex;
  min-height: 85vh;
  justify-content: center;
  align-items: center;
}

.login-main-left {
  width: 60vw;
}

.login-title {
  font-size: 30px;
  text-align: center;
  margin: 10px;
  font-weight: bold;
}

.login-flash-message {
  text-align: center;
  color: red;
}

.field {
  text-align: center;
  margin: 5px;
}

.actions {
  text-align: center;
  margin: 10px;
}

.login-main-right {
  width: 40vw;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.door-img {
  height: 85vh;
  width: 40vw;
  object-fit: cover;
  margin-left: 0;
}

footer {
  margin-top: auto;
}