* {
  box-sizing: border-box;
}

.login-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  color: white;
}

.header-left{
  font-size: 50px;
}

.header-right{
  color: white;
  display: flex;
}

.back-to-top{ 
  color: white;
  margin-left: 20px;
  padding: 8px;
  text-decoration: none;
  border: solid 2px white;/*線*/
  border-radius: 10px;/*角の丸み*/
}

.login-main{
  display: flex;
  min-height: 80vh;
  justify-content: center;
  align-items: center;
}

.login-main-left{
  flex-grow: 1;
  
}

.login-title{
  font-size: 30px;
  text-align: center;
  margin: 10px;
  font-weight: bold;
}

.field{
  text-align: center;
  margin: 5px;
}

.actions{
  text-align: center;
  margin: 10px;
}

.login-main-right{
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  
}

.door-img{
  height: 600px;
  width: 500px;
  object-fit: cover; 

}

footer{
  margin-top: auto;
}