html,body{
  height: 100%;
}

#registration-all-wrapper{
  position: relative;
  min-height: 100vh;
  padding-bottom: 10vh;
  box-sizing: border-box;
}

.registration-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  color: white;
}

.header-left{
  font-size: 50px;
}

.header-right{
  color: white;
  display: flex;
}

.back-to-top{ 
  color: white;
  margin-left: 20px;
  padding: 8px;
  text-decoration: none;
  border: solid 2px white;/*線*/
  border-radius: 10px;/*角の丸み*/
}

.registration-main{
  display: flex;
  height: fit-content;
  justify-content: center;
  align-items: center;
}

.registration-main-left{
  width: 60vw;
}

.registration-title{
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.field{
  text-align: center;
  /* padding: 10px; */
  margin: 10px;
}

.field-radio{
  position: relative;
  text-align: center;
  white-space: nowrap;
}

.actions{
  text-align: center;
  margin-top: 10px;
}

#error_sentence{
  text-align: center;
}


.registration-main-right{
  width: 40vw;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  
}

.door-img{
  height: clac (100vh - 25vh);
  width: 40vw;
  object-fit: cover; 
  margin-left: 0;
}

footer{
  margin-top: auto;
}